In [1]:
# Load in sim data
import hax

# using modified version of Tianyu's OtherLargeS2s peak extractor
from make_minitree import Peaks

hax.init(experiment='XENON1T',
         use_runs_db=False,
         pax_version_policy='loose',
         main_data_paths=['~/data/nr_ss_sim/testing_fax'],
         minitree_paths = ['~/data/nr_ss_sim/testing_fax'])

INFO:hax.__init__] Not looking for datasets in runs, db since you put use_runs_db = False
WARNING:hax.__init__] You're not at a XENON analysis facility, or hax can't detect at which analysis facility you are.

In [2]:
sim = hax.minitrees.load("testing_fax",["Basics"])

WARNING:hax.runs] Blinding by default since cannot find run.
DEBUG:hax.minitrees] Minitree testing_fax_Basics.root not found
DEBUG:hax.minitrees] Not found in non-preferred formats either. Minitree will be created.

Could not find run number for testing_fax, got exception <class 'AttributeError'>: 'NoneType' object has no attribute 'query'. Setting run number to 0.
Don't know a run named testing_fax, trying to find it anyway...

Run testing_fax: Making Basics minitree: 100%|██████████| 7/7 [00:00<00:00, 105.58it/s]
DEBUG:hax.__init__] Extraction completed, now concatenating data
DEBUG:hax.minitrees] Retrieved Basics minitree data for dataset testing_fax

Don't know a run named testing_fax, trying to find it anyway...

DEBUG:hax.minitrees] Found minitree at /home/shawaf/data/nr_ss_sim/testing_fax/testing_fax_Basics.root
DEBUG:hax.minitrees] Removing weird index column

(log(cs2/cs1)/log(10) > exp(-0.720893+(-0.032622)*cs1) + 1.883038 + (-7.185652e-04)*cs1) | (cs1 > 200) | (s2<150) | (largest_other_s2>200) selection: 0 rows removed (100.00% passed)

In [3]:
sim

,cs1,cs2,drift_time,event_number,largest_coincidence,largest_other_s1,largest_other_s2,largest_unknown,largest_veto,run_number,s1,s1_area_fraction_top,s1_range_50p_area,s2,s2_area_fraction_top,s2_range_50p_area,x,y,z
0,9.430343,5115.619644,444610.0,0,0,0,52.247265,0,0,0,10.215618,0.000000,63.567390,1841.688110,0.685803,1607.334763,37.516529,-9.923895,-63.779041
1,4.205202,3697.605456,378230.0,1,0,0,39.785908,0,0,0,4.301759,0.243380,60.093176,1472.269531,0.683181,1349.313799,40.799004,-5.871969,-54.220322
2,NaN,NaN,NaN,2,0,0,293.395691,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.642311,4169.204101,524280.0,3,0,0,31.547260,0,0,0,4.094819,0.000000,47.657408,1286.907959,0.663805,1280.190538,38.533352,9.429318,-75.251518
4,30.323112,8393.334172,218530.0,4,0,0,49.927719,0,0,0,26.725319,0.380289,86.917975,5231.683594,0.684089,877.307087,24.703169,23.853231,-31.223520
5,32.065232,8681.256404,297060.0,5,0,0,56.578419,0,0,0,30.253326,0.190526,81.569826,4611.749512,0.697283,1186.272804,25.642996,21.903877,-42.531841
6,38.929682,8155.985482,355980.0,6,0,0,57.046375,0,0,0,38.683556,0.151854,56.509750,3507.963623,0.693076,1083.678253,41.114758,1.870657,-51.016319

In [5]:
import pandas as pd
instruct = pd.read_csv('~/data/nr_ss_sim/testing_fax/test.csv')

In [6]:
instruct

,instruction,recoil_type,x,y,depth,s1_photons,s2_electrons,t
0,2372,NR,37.508572,-10.944522,63.698288,89,184,500000
1,5661,NR,40.526188,-6.876606,54.050465,50,134,500000
2,5953,NR,18.128426,23.639423,52.673916,9,26,500000
3,6422,NR,37.953838,11.485145,75.183723,22,141,500000
4,8282,NR,24.446436,24.383989,31.134218,272,337,500000
5,9093,NR,25.659214,22.702929,42.450420,263,292,500000
6,14656,NR,41.410908,1.621158,51.012199,344,323,500000